*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}
html,body{
    background-color: #0b0b0f;
    color: #eaeaea;
}

/*NAVBAR*/

nav {
    padding:25px 60px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    position:sticky;
    top:0;
    background: #0b0b0f;
    z-index:100;
}
.logo{
    font-size: 22px;
    font-weight:600;
}
nav ul{
    list-style:none;
    display:flex;
    gap:30px;
}
nav a{
    color: #eaeaea;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}
nav a:hover{
    color: #38bdf8;
}

/*HERO SECTION*/

.hero{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 20px;
}
.hero h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
}
.hero h1 span{
    background: linear-gradient(90deg , #7c7cff, #38bdf8);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.hero p {
    margin-top : 20px;
    font-size: 18px;
    color:#b5b5b5;
    max-width: 650px;
}

/*SECTIONS*/

.section{
    padding: 120px 20px;
    text-align: center;
}
.section h2{
    font-size: 40px;
    margin-bottom: 50px;
}

/*SKILLS*/

.skills{
    display: flex;
    justify-content: center;
    gap:25px;
    flex-wrap:wrap;
}

.skills div{
    padding: 18px 30px;
    background: #111118;
    border-radius: 10px;
    border: 1px solid #1f1f2a;
    transition: 0.3s ease;
}
.skills div:hover{
    transform: translateY(-8px);
    box-shadow: 0px 20px 40px rgba(56,189,248,0.3);
}

/*PROJECTS*/

.projects{
    display :flex;
    justify-content: center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width: 260px;
    padding: 25px;
    background: #111118;
    border-radius: 12px;
    border: 1px solid #1f1f2a;
    text-align: center;
    transition: 0.3s ease;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba( 56, 189, 248,0.3);
}
.card h3{
    margin-bottom: 10px;
    color: #38bdf8;

}
.card p{
    font-size: 16px;
    color: #b5b5b5;
}

/*CONTACT*/

#contact p{
    font-size: 18px;
    color: #b5b5b5;
    margin-top: 10px;
}

/*FOOTER*/

footer{
    padding:40px;
    text-align: center;
    color: #777;
}

/*RESPONSIVE*/

@media (max-width: 700px){
    nav{
        padding: 20px;
        flex-direction: column;
        gap: 15px;
    }
    .hero{
        text-align: center;
    }
    .hero h1{
        font-size: 40px;
    }
    section{
        padding: 80px 20px;
    }
    .card{
        width: 90%;
    }
}